{{!-- //****************************//
// Author of this Code:
// Khaalid Subaan
// A17CS4037
//****************************// --}}



<br>
<br>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>

<div class="row mt-5">
    <div class="col-md-6 m-auto">
        <div class="card card-body">
            <h1 class="text-center mb-3"><i class="fas fa-sign-in-alt"></i></h1>

            {{#if pending}}
            <div class="col">
                <div class="alert-dismissible text-primary">
                    <button type="button" class="close" data-dismiss="alert">&times;</button>
                    <strong>{{pending}}</strong>
                    <br>
                    <p>Your name :{{user.name}}</p>
                    <p>Your email :{{user.email}}</p>
                    <p>Your Application status :{{user.status}}</p>
                    <p>Your Phone :{{user.phone}}</p>
                       <p>If it has been more than 1 day, please visit our branch</p>
                </div>
            </div>
            
            {{/if}}


        </div>
    </div>


    <script>
        $(document).ready(function () {
            // show the alert
            setTimeout(function () {
                $('.alert').alert('close');
            }, 3000);
        });
    </script>